<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Content">
	
	<resultMap type="Content" id="ContentResultMap">
		<id column="infoid" property="infoid"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="keywords" property="keywords"/>
		<result column="summary" property="summary"/>
		<result column="source" property="source"/>
		<result column="link" property="link"/>
		<result column="inerttime" property="inerttime"/>
		<result column="pubtime" property="pubtime"/>
		<result column="author" property="author"/>
		<result column="is_dongguan" property="is_dongguan"/>
		<result column="is_guangdong" property="is_guangdong"/>
		<result column="state" property="state"/>
	</resultMap>
	
	<!-- 分页查询所有新闻。用于展示新闻 -->
	<select id="colnmulistPage" parameterType="page" resultType="pd">
		SELECT title,content,summary,source,link,author,inerttime,pubtime FROM food_pagetable WHERE 1=1 AND state = 1
		<if test="pd.keywords != null and pd.keywords != ''">
		AND keywords LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		<if test="pd.is_dongguan != null and pd.is_dongguan !=''">
		 AND is_dongguan = 1
		</if>
		<if test="pd.is_guangdong != null and pd.is_guangdong !=''">
		 AND is_guangdong = 1
		</if>
	</select>
	
	
</mapper>