<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentMapper">
	<!--  
	<resultMap type="Content" id="ContentResultMap">
		<id column="infoid" property="infoid"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="keywords" property="keywords"/>
		<result column="summary" property="summary"/>
		<result column="source" property="source"/>
		<result column="link" property="link"/>
		<result column="inerttime" property="inerttime"/>
		<result column="pubtime" property="pubtime"/>
		<result column="author" property="author"/>
		<result column="is_dongguan" property="is_dongguan"/>
		<result column="is_guangdong" property="is_guangdong"/>
		<result column="state" property="state"/>
	</resultMap>
	-->
	<resultMap type="Content" id="ContentResultMap">
		<result column="count" property="count"/>
		<result column="maxTime" property="maxTime"/>
	</resultMap>
	
	<!-- 分页查询所有新闻。用于展示新闻 -->
	<select id="contentlistPage" parameterType="Page" resultType="pd">
		SELECT infoid,title,content,summary,source,link,author,inerttime,pubtime FROM food_pagetable WHERE state = 1
		<if test="pd.keywords != null and pd.keywords != ''">
		AND keywords LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		</if>
		<if test="pd.title != null and pd.title != ''">
		AND title LIKE CONCAT(CONCAT('%', #{pd.title}),'%')
		</if>
		<if test="pd.content != null and pd.content != ''">
		AND content LIKE CONCAT(CONCAT('%', #{pd.content}),'%')
		</if>
		<if test="pd.is_dongguan != null and pd.is_dongguan !=''">
		 AND is_dongguan = 1
		</if>
		<if test="pd.is_guangdong != null and pd.is_guangdong !=''">
		 AND is_guangdong = 1
		</if>
		<!-- 今日关注 -->
		<if test="pd.jr != null and pd.jr !=''">
		 AND to_days(pubtime) = to_days(now())
		</if>
		<!-- 一周新闻 -->
		<if test="pd.yz != null and pd.yz !=''">
		 AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(pubtime)
		</if>
		GROUP BY pubtime DESC
	</select>
	
	<!-- 根据id查询新闻 -->
	<select id="findByID" parameterType="pd" resultType="pd">
		SELECT infoid,title,content,summary,source,link,author,inerttime,pubtime FROM food_pagetable WHERE  state = 1 AND infoid = #{infoid}
	</select>
	
	<!-- 分页查询所有新闻。用于展示新闻 -->
	<select id="listContents" parameterType="Page" resultType="pd">
		SELECT infoid,title,content,summary,source,link,author,inerttime,pubtime FROM food_pagetable WHERE state = 1
		<if test="pd.keywords != null and pd.keywords != ''">
		AND (
			 keywords LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			 or title LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			 or content LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		)
		</if>
		
		<if test="pd.is_dongguan != null and pd.is_dongguan !=''">
		 AND is_dongguan = 1
		</if>
		<if test="pd.is_guangdong != null and pd.is_guangdong !=''">
		 AND is_guangdong = 1
		</if>
		<!-- 今日关注 -->
		<if test="pd.jr != null and pd.jr !=''">
		 AND to_days(pubtime) = to_days(now())
		</if>
		<!-- 一周新闻 -->
		<if test="pd.yz != null and pd.yz !=''">
		 AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(pubtime)
		</if>
		GROUP BY pubtime DESC
		limit #{pd.currentResult},#{pd.showCount}
	</select>
	
	<select id="contentslistPage" parameterType="Page" resultType="pd">
		SELECT infoid,title,content,summary,source,link,author,inerttime,pubtime FROM food_pagetable WHERE state = 1
		<if test="pd.keywords != null and pd.keywords != ''">
		AND (
			 keywords LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			 or title LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
			 or content LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
		)
		</if>
		<if test="pd.is_dongguan != null and pd.is_dongguan !=''">
		 AND is_dongguan = 1
		</if>
		<if test="pd.is_guangdong != null and pd.is_guangdong !=''">
		 AND is_guangdong = 1
		</if>
		<!-- 今日关注 -->
		<if test="pd.jr != null and pd.jr !=''">
		 AND to_days(pubtime) = to_days(now())
		</if>
		<!-- 一周新闻 -->
		<if test="pd.yz != null and pd.yz !=''">
		 AND DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(pubtime)
		</if>
		<!-- 信息检索 
		<if test="pd.js != null and pd.js !=''"></if>
		-->
		GROUP BY pubtime DESC
	</select>
	
	<select id="warning" parameterType="pd" resultMap="ContentResultMap">
	SELECT 
		count(*) as count,
		MAX(inerttime) AS maxTime 
	FROM food_pagetable 
	WHERE 
	<if test="pd.keyList.size() !=0">
		<foreach collection="pd.keyList" index="index" item="item">
	 title LIKE CONCAT(CONCAT('%', #{item.key}),'%') OR content LIKE CONCAT(CONCAT('%', #{item.key}),'%')
	 </foreach>
	</if>
	  
	AND inerttime &gt; #{lastupdateTime}
	</select>
	
	
</mapper>